        <h2 class="wa-heading-m">Discover More Birds</h2>
        <wa-card>
          <div slot="media" class="wa-frame">
            <img src="https://images.unsplash.com/photo-1635254859323-65b78408dcca?q=20" alt="" />
          </div>
          <div class="wa-stack wa-gap-3xs">
            <span class="wa-heading-s">Long-eared Owl</span>
            <span class="wa-caption-s" lang="la"><em>Asio otus</em></span>
          </div>
        </wa-card>
        <wa-card>
          <div slot="media" class="wa-frame">
            <img src="https://images.unsplash.com/photo-1661350356618-f5915c7b6a3c?q=20" alt="" />
          </div>
          <div class="wa-stack wa-gap-3xs">
            <span class="wa-heading-s">Northen Hawk Owl</span>
            <span class="wa-caption-s" lang="la"><em>Surnia ulula</em></span>
          </div>
        </wa-card>
        <wa-card>
          <div slot="media" class="wa-frame">
            <img src="https://images.unsplash.com/photo-1660307777355-f08bced145d3?q=20" alt="" />
          </div>
          <div class="wa-stack wa-gap-3xs">
            <span class="wa-heading-s">Golden Eagle</span>
            <span class="wa-caption-s" lang="la"><em>Aquila chrysaetos</em></span>
          </div>
        </wa-card>