        <div class="wa-cluster" style="flex-wrap: nowrap">
          <wa-icon name="feather-pointed" style="font-size: 1.5em"></wa-icon>
          <span class="wa-heading-s">Audubon Worldwide</span>
        </div>
        <div class="wa-stack">
          <h3 class="wa-heading-xs">Our Work</h3>
          <a href="#">Habitat Restoration</a>
          <a href="#">Migration Science</a>
          <a href="#">Advocacy</a>
        </div>
        <div class="wa-stack">
          <h3 class="wa-heading-xs">About Us</h3>
          <a href="#">Our History</a>
          <a href="#">Leadership</a>
          <a href="#">Fiscal Reports</a>
        </div>
        <div class="wa-stack">
          <h3 class="wa-heading-xs">Discover</h3>
          <a href="#">Field Guides</a>
          <a href="#">Photo Search</a>
          <a href="#">Gear and Resources</a>
        </div>
        <div class="wa-stack">
          <h3 class="wa-heading-xs">Get Involved</h3>
          <a href="#">Adopt a Bird</a>
          <a href="#">Your Local Audubon</a>
          <a href="#">Youth Audubon Camps</a>
        </div>