        <div class="wa-cluster" style="flex-wrap: nowrap">
          <wa-icon name="{{ site.brand_icon_fontawesome_pro }}" style="font-size: 1.5em"></wa-icon>
          <span class="wa-heading-s">{{ site.title }}</span>
        </div>
        <div class="wa-stack">
          <h3 class="wa-heading-xs">About</h3>
          <a href="https://www.linkedin.com/in/cprima/">Webmaster</a>
        </div>
        <div class="wa-stack">
          <h3 class="wa-heading-xs">Content</h3>
          <a href="{{ "/minimals/invocation/versioning-the-invocation/" | relative_url }}">PoC content</a>
        </div>
<!--        <div class="wa-stack">
          <h3 class="wa-heading-xs">Filler</h3>
          <a href="#">quick brown fox</a>
          <a href="#">Lorem ipsume</a>
        </div>
        <div class="wa-stack">
          <h3 class="wa-heading-xs">About</h3>
          <a href="#">Alice</a>
          <a href="#">Bob</a>
          <a href="#">Carol</a>
        </div>
        <div class="wa-stack">
          <h3 class="wa-heading-xs">metasyntactic</h3>
          <a href="#">Foo</a>
          <a href="#">Bar</a>
          <a href="#">Baz</a>
        </div> -->
        <div class="wa-stack">
          <h3 class="wa-heading-xs">Get Involved</h3>
          <a href="{{ "/community/contributing/" | relative_url }}">Contribute</a>
          <a href="https://github.com/rpapub/MotifMinimalism/issues/">Raise Issue</a>
          <a href="https://github.com/rpapub/MotifMinimalism/issues/new?template=documentation-improvement.yml">Improve documentation</a>
          <a href="https://github.com/orgs/rpapub/discussions/categories/motifminimalism-general">Discuss</a>
        </div>