        <section>
          <h2 class="wa-heading-m">Sources</h2>
          <ul class="wa-body-s">
            <li>
              <cite
                ><a href="https://www.audubon.org/field-guide/bird/great-horned-owl" target="_blank" rel="noopener"
                  >Great Horned Owl</a
                ></cite
              >, National Audubon Society. Retrieved 5 December 2024.
            </li>
            <li>
              <cite
                ><a href="https://www.allaboutbirds.org/guide/Great_Horned_Owl/" target="_blank" rel="noopener"
                  >Great Horned Owl</a
                ></cite
              >, All About Birds by CornellLab. Retrieved 5 December 2024.
            </li>
            <li>Armistead, G. L. (2015). <cite>Field guide to birds of Pennsylvania</cite>. Scott & Nix, Inc.</li>
          </ul>
        </section>