        <div
          class="wa-flank:end wa-border-radius-l wa-dark"
          style="
            background-color: var(--wa-color-surface-lowered);
            --content-percentage: 35%;
            padding: var(--wa-space-m);
          "
        >
          <div class="wa-stack" style="margin: var(--wa-space-2xl)">
            <h1>Great Horned Owl</h1>
            <wa-divider></wa-divider>
            <div class="wa-cluster wa-gap-xs">
              <wa-tag size="small">Owls</wa-tag>
              <wa-tag size="small">Birds of Prey</wa-tag>
              <wa-tag size="small">Pleistocene Birds</wa-tag>
            </div>
            <div class="wa-flank">
              <wa-icon name="ruler"></wa-icon>
              <span class="wa-caption-m">L 21.5" | WS 48.5"</span>
            </div>
            <div class="wa-flank">
              <wa-icon name="earth-americas"></wa-icon>
              <span class="wa-caption-m"
                >North America (Widespread), Central America (Limited), South America (Limited)</span
              >
            </div>
            <div class="wa-flank">
              <wa-icon name="shield-heart"></wa-icon>
              <span class="wa-caption-m">Least Concern</span>
            </div>
          </div>
          <div class="wa-frame" style="border-radius: var(--wa-border-radius-l); max-inline-size: 40ch">
            <img src="https://images.unsplash.com/photo-1544648720-132573cb590d?q=20" />
          </div>
        </div>