{% comment %}
Renders a single citation entry.
Supports `webpage` and `book`, fallback to generic.
Expects input: entry (from _data/citations.yml)
{% endcomment %}

{% assign c = include.citation %}
{% case c.type %}

  {% when "webpage" %}
    <strong>
    <span
        data-citation-id="{{ c.id }}"
        style="cursor: default; text-decoration: none;"
        title="Click to copy citation ID to clipboard"
    >
        {{ c.title }}
    </span>
    </strong><br>
    {% if c.author %}
      <em>
        by {% for a in c.author %}
          {{ a.literal }}{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </em><br>
    {% endif %}
    <a href="{{ c.URL }}">{{ c.URL }}</a><br>
    {% if c.accessed %}
{% assign date_parts = c.accessed.date-parts[0] %}
<small>
  Accessed on
  {{ date_parts[0] }}-{{ date_parts[1] | plus: 0 | prepend: "0" | slice: -2, 2 }}-{{ date_parts[2] | plus: 0 | prepend: "0" | slice: -2, 2 }}
</small>
    {% endif %}

  {% when "book" %}
    <strong>{{ c.title }}</strong><br>
    {% if c.author %}
      <em>
        by {% for a in c.author %}
          {{ a.given }} {{ a.family }}{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </em><br>
    {% endif %}
    {% if c.publisher %}
      {{ c.publisher }},
    {% endif %}
    {% if c.issued %}
      {{ c.issued.date-parts[0][0] }}
    {% endif %}
    {% if c.ISBN %}
      <br><small>ISBN: {{ c.ISBN }}</small>
    {% endif %}

  {% else %}
    <strong>{{ c.title }}</strong><br>
    <em>({{ c.type }})</em>
    {% if c.URL %}
      <br><a href="{{ c.URL }}">{{ c.URL }}</a>
    {% endif %}
{% endcase %}
