        <div class="wa-cluster">
          <wa-icon name="feather-pointed" style="color: var(--wa-color-brand-fill-loud); font-size: 1.5em"></wa-icon>
          <span id="brand-name" class="wa-heading-s wa-desktop-only">Audubon Worldwide</span>
          <a href="#">Our Work</a>
          <a href="#">About Us</a>
          <a href="#">Discover</a>
          <a href="#">Get Involved</a>
        </div>
        <div class="wa-cluster wa-gap-xs">
          <wa-button size="small" variant="brand" appearance="outlined">Find Your Local Audubon</wa-button>
          <wa-button size="small" variant="brand">Donate</wa-button>
        </div>